.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/*mechendo vamos la*/
*{
  margin: 0;
  box-shadow: none;
  overflow-x: none; 
}


/* Parte 2 - farmaceutica*/

#farmaceutica{
  background: url(./img/farmaceutica.png) no-repeat center center;
  background-size: cover;
  opacity: 90%;
  width: 100%;
  height: 92vh;
  justify-content: center;
}


#quadrado1 {
  background-color: #d9d9d9;
  position: absolute;
  width: 60%;
  height: 500px;
  color: #77bbb3;
  margin: 3rem auto;
  padding: 50px;
  box-shadow: 2.8px 2px 0px rgba(0, 0, 0, 0.016),
    6.7px 4.9px 0px rgba(0, 0, 0, 0.028),
    12.5px 9.5px 0.1px rgba(0, 0, 0, 0.037),
    22.3px 17px 0.2px rgba(0, 0, 0, 0.042),
    41.8px 31.8px 0.4px rgba(0, 0, 0, 0.047), 100px 76px 1px rgba(0, 0, 0, 0.07);
}


#saude {
  text-align: justify;
  font-size: 70px;
  font-weight: initial;
}

/*Botoes Principais Classes*/

/* From uiverse.io */
.butaoP {
  background-color: #77bbb3;
  color: white;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 35px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  gap: 20px;
}

.butaoP:hover {
  background-color: #6f9d98;
  opacity: 0.5;
  box-shadow: 0px 15px 20px rgb(161, 230, 233);
  color: #fff;
  transform: translateY(-7px);
}

.butaoP:active {
  transform: translateY(-1px);
}

/*Botao cadastro*/

#cadastro {
  background-color: white;
  color: #a69573;
  border: solid #a69573 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  transition: 0.5s;
  letter-spacing: 2px;
  font-weight: 500;
  gap: 20px;

}

#cadastro:hover {
  background: none;
  box-shadow: 0px 15px 10px rgb(218, 216, 212);
  color: black;
}

#cadastro:active {
  transform: translateY(-1px);
}
/*botoes login e cadastro juntos*/
.butoesPjuntos{
  margin: 40px;
  gap: 40px;
}

/*Parte de fazer Login*/


.loginfundo{
  background-image: url(./img/fundologin.png);
  width: 100%;
  height: 1020px;
  background-size: cover;
  justify-content: center;

}

#login{
  width: 20%;
  left: 40px;
  margin-left: 150px;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

#saude{
  left: 10px;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 70px;
  display: block;
  font-weight: initial;

}


#loginquadrado{
  background-color: white;
  width: 60%;
  height: 500px;
  margin: auto;
  padding: 20px 0px;
  border-radius: 30px;
  text-align: center;
  gap: 30px;
}


#nome , #email,  #senha{
  font-size: 20px;
  padding-top: 3%;
  padding-bottom: 5%;
  width: 70%;
  height: 10px;
  margin-left: 60px;
  margin-bottom: 20px;
  padding-left: 5%;
  
}


#fazerlogin{
  color:#A69573;
  font-weight: normal;
  font-size: 50px;
  padding-top: 10%;
  text-align: center;
  text-decoration: none;
}
a{
  text-decoration: none;

}

 #acesso {
  color: #77BBB3;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

/**/

#esqueci_senha{
  background-color: white;
  padding: 10px;
  border: #A69573;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#esqueci_senha:hover{
  border:#A69573 solid 2px;
  transform: scale(1.0);
  transform: translateY(-7px);
  box-shadow: #a69573 5px 2px 2px 5px;
  opacity: 0.5px;

}

#esqueci_senha:active{
  transform: translateY(-1px);
}


/*como funciona*/
.funciona{
  width: 100%;
  height: 60rem;
  margin: 20px;
  float: right;
  margin-bottom: 30px;
}

.funciona2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 60%;
  margin-left: 20px;
  padding-left: 70px;
  gap: 50px;
}

#comofunciona {
  color: #77bbb3;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
  font: italic 20px;
  font-family: Montserrat;
  font-weight: initial;
}

#telefone {
  margin-left: 60px;
  float: left;
  width: 70vh;
}


.fototipos {
  height: 25vh;
  width: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10%;
  text-align: center;
}

.funcionaP {
  color: #77bbb3;
  font-size: 25px;
}

.funcionatipos h3 {
  color: #6f9d98;
  font: normal, 25px;
}

.funcionatipos {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#fale #consulte #agendar {
  margin-top: 4%;
}

#linkcomof {
  text-decoration: none;
  font-size: 25px;
}

/**/

/*tipos de coisas para fazer*/
.certificadosTd{
  width: 100%;
  height: 120rem;
  margin-top: 100px;
}

#certificados {
  font: italic;
  font-size: 50px;
  font-weight: normal;
  color: #77bbb3;
  text-align: center;
}

.tiposfts {
  display: inline;
  justify-content: space-between;
  margin: 7% 8% 8% 7%;
}

.ir {
  margin: -1% 5% 8% 7%;
  color: #6f9d98;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 20%;
  padding: 5%;
  display: inline-flex;
  border: black solid 2px;
  border-radius: 20px;
  box-shadow: 24px 24px 48px #e3e3e3, -24px -24px 48px #ffffff;
}

.ir .butaoP {
  height: 50px;
  font-size: 12px;
  width: 130px;
  padding: 3px 3px 3px 3px;
  margin: 8px 4px 4px 8px;
  border-radius: 10px;
}

/**/

/*menu final*/
footer {
  background-color: #446864;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

#ftlgf {
  margin: 2% 2% 2%;
}

#menuf {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: -3% 30% 8% 4%;
  justify-content: space-between;
  margin: -4% 20% 5% 6%;
  border-bottom: black solid 1px;
}

.menufo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 38%;
  text-decoration: none;
  color: black;
  width: 20%;
  height: 70%;
  padding: 5px 10px 2px 4px;
  margin-top: none;
}

.menufo a {
  text-decoration: none;
  color: black;
}

.menufo a :hover {
  color: darkgrey;
}

.contato {
  display: flex;
  flex-direction: column;
  float: right;
}

#mobile {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 1%;
}

#ftcll {
  display: block;
  margin: 1% 8% 5% 5%;
}

