@media only screen and (max-width: 700px) {
   
   #farmaceutica{
    height: 100vh;
   }

   #quadrado1{
    height: 50vh;
    width: 50vh;
    padding: 0;
   }

   #saude{
    font-size: 15px;
   }

   #loginfundo{
    height: 60vh;
    background-position: center;
   }

   
#nome , #email,  #senha{
   font-size: 20px;
   padding-top: 3%;
   padding-bottom: 5%;
   width: 70%;
   height: 10px;
   margin-left: 60px;
   margin-bottom: 20px;
   padding-left: 5%;
   
 }
 
 
 #fazerlogin{
   font-size: 40px;
 }
 
 
  #acesso {
   color: #77BBB3;
   font-size: 25px;
   text-align: center;
   padding-top: 10px;
 }
 

  }
  